
body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /* nomi orqali */
background: papayawhip;
/* rgb orqali */
color: rgb(0, 0, 0);
}
h1,
h2 {
    /* code orqali  */
    color: #090941;
    /* font sizeni rem orqali berish: 1rem=16px */
    font-size: 2rem;
}

p{
    /* rgba orqali */
    color: rgba(0, 0, 0, 0.5);
}
.text{
    color: #000;
    /* ko'p brauzerlarda font-size 16px deafoult bo'ladi */
    /* font sizeni px orqali berish */
font-size: 32px;
}
/*.gray {
    color: gray;
}
p {
    color: purple;
} */
/* p span{
    text-transform: uppercase;
    background-color: gold;
} */
/* .highlight {
    text-transform: uppercase;
    background-color: gold;
}
#second {
    font-style: italic;
} */
