/* Typography is the way that text is arranged and prasented.  */
body{
    padding: 10%;
    font-size: 2rem;
}
p{
    /* Text Decoration */
    /* text-decoration: line-through; */
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: none; */
    /* Text-Transform */
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    /* Text Align */
    /* text-align: justify; */
    /* text-align: left; */
    /* text-align: right; */
    /* Text Indent; */
    /* text-indent: 1rem; */
    /* line height */
    /* line-height: 24px; */
    /* letter-spacing: 1.5px;  */
    /* word-spacing: 3px; */
    /* font-weight:bold; */
    /* Font Style */
    /* font-style: italic; */
    /* font-style:oblique; */
    /* font-style: inherit; */
    /* font-style: initial; */
    /* font-style: unset; */
    /* font-family: cursive; */
    /* font-family: monospace; */
    /* font-family: fantasy; */
    font-family: serif;
    /* font-family: sans-serif; */
}